/* CSS Reset */
/* Import Google Fonts */

@font-face {
    font-family: 'Creato Display Medium';
    src: url('fonts/CREATODISPLAY-MEDIUM.OTF') format('opentype');
}

@font-face {
    font-family: 'BOLD MYPE BOLD';
    src: url(fonts/BOLD-MYPE-BOLD.TTF) format('truetype');
}

*{
    font-family: 'Creato Display Medium';
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    color: #FFEDE3;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #0d0d0d;
    color: #FFEDE3;
}
/* Header Section */
.header{
    background: rgba(5, 3, 1, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo img{
    width: 15vw;
    color: #FA4D01;
}

.menu-bar a{
    font-size: 1.75rem;
    margin-left: 3.5rem;
    transition: 0.4s ease;
}

.menu-bar a:hover{
    color: #FA4D01;
}

#menu-btn{
    font-size: 3rem;
    display: none;
}

section{
    padding: 10rem 10%;
    min-height: 100vh;
}


/* Home Section */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.home-bio h3{
    font-size: 2.5rem;
}

span{
    color: #FA4D01;
}

.home-bio img{
    width: 30vw;
    padding: 3rem 0;
}

.home-bio p{
    font-size: 1.75rem;
    padding: 1rem 0;
}

.profile-pic img{
    width: 30vw;
    border-radius: 50%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

.social-media a{
    width: 3.8rem;
    height: 3.8rem;
    font-size: 2.2rem;
    margin: 1rem 1rem 2rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s ease;
}

.social-media a:hover{
    color: #FA4D01;
    box-shadow: 0 0 1rem #FA4D01;
}

.btn{
    display: inline-block;
    background: #FA4D01;
    margin: 2rem 0;
    padding: 1rem 2.5rem;
    border-radius: 1.3rem;
    font-size: 1.5rem;
    color: #0d0d0d;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    color: #FA4D01;
    background: #0d0d0d;
    box-shadow: 0 0 1rem #FA4D01;
}


/* About Section */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    font-size: 3.55rem;
    text-align: center;
    margin: 4rem 0;
}

.heading h2, .heading span{
    font-family: 'BOLD MYPE BOLD';
    font-weight: 100;
}

.about-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.about-resume h3{
    font-size: 2.65rem;
}

.about-text p{
    font-size: 2.05rem;
}


/* Skills Section */
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.skill-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skill-card:hover{
    border-radius: 1rem solid;
    transform: scale(1.05);
}

.skill-card .bxl{
    font-size: 8rem;
    transition: 0.4s ease;
}

.skill-card .bxl:hover{
    color: #FA4D01;
}

.skill-card .bx{
    font-size: 8rem;
    transition: 0.4s ease;
}

.skill-card .bx:hover{
    color: #FA4D01;
}

.skill-card h3{
    font-size: 2.75rem;
    font-weight: 200;
}

.skill-card p{
    text-align: center;
    font-size: 1.58rem;
    opacity: 0.5;
}



/* Projects Section */
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.project-card{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-card:hover{
    transform: scale(1.05);
}

.project-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Contact Section */
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    display: grid;
    row-gap: 1rem;
}

form input,
textarea{
    width: 80vw;
    padding: 1rem;
    font-size: 2rem;
    color: #FFEDE3;
    background: rgba(5, 3, 1, 0.5);
    border-radius: 1rem;
}

/* Footer Section */
.footer{
    padding: 2rem 10%;
    text-align: center;
    font-size: 1.25rem;
}

hr{
    margin: 1rem;
    border-bottom: thin solid #FFEDE3;
}

/* Responsive Section */
@media (max-width: 1200px){
    html{
        font-size: 60%;
    }
}

@media (max-width: 1024px){
    .header{
        padding: 2rem 4%;
    }
    .home img{
        width: 40vw;
    }
    .projects-items{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 820px){
    #menu-btn{
        display: block;
    }
    .menu-bar{
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background: rgba(5, 3, 1, 0.9);
        display: none;
    }
    .menu-bar.active{
        display: block;
    }
    .menu-bar a{
        display: block;
        margin: 2rem;
        font-size: 2.25rem;
    }
    .home, .about-items{
        flex-direction: column;
    }
    .home img{
        width: 80vw;
    }
    .heading{
        font-size: 3.25rem;
    }
    .skills-items{
        grid-template-columns: repeat(2,1fr );
    }
    .projects-items{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 620px){
    .skills-items{
        grid-template-columns: repeat(1,1fr );
    }
    .heading{
        font-size: 2.95rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 400px){
    html{
        font-size: 40%;
    }
}
