@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

::selection {
  color: #18181b;
  background-color: #3c4cad;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #3c4cad;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 100%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #3c4cad;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #240e8b;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
  opacity: 0;
  transition: opacity 0.6s;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #3c4cad;
  z-index: -100;
}

header .content {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h4 {
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1rem;
  font-weight: 600;
}

header .content h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  transition: all 0.3s ease;
}

header .content p {
  margin-bottom: 2rem;
  color: #ccc;
}

header .image {
  position: relative;
}

header .image::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 29%;
  transform: translateX(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 20rem;
  color: #3c4cad;
  opacity: 0.2;
  z-index: -100;
}

header .image img {
  max-width: 600px;
  margin: auto;
}

section .header {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.about {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.about .card {
  background-color: #27272a;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.about .card .list {
  padding: 1rem;
}

.about .card:hover {
  background-color: #323232;
  border-color: #fff;
}

.about .card span {
  display: inline-block;
  background-color: #3c4cad;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}

.about .card h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.about .card ul {
  color: #ccc;
  margin-bottom: 1rem;
}

.sub-header {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #ccc;
  margin-bottom: 1rem;
}

.office-hours button {
  margin: auto;
  align-items: center;
}

.projects {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.projects .card {
  padding: 3rem 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  align-items: center;
}

.projects .card:hover {
  background-color: #323232;
  border-color: #fff;
}

.projects .card .content {
  flex: 1;
  margin-bottom: 2rem;
}

.projects .card h4 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2px solid #fff;
}

.projects .card p {
  color: #fff;
  margin-bottom: 0.75rem;
}

.projects .card .btn {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.projects .card button:hover {
  background-color: #240e8b;
  border-color: #240e8b;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(2, 1fr);
  gap: 2rem;
}

footer .column .logo {
  max-width: 100px;
  margin-bottom: 2rem;
}

footer .column p {
  color: #ccc;
  margin-bottom: 2rem;
}

footer .column .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .column .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .column .socials a:hover {
  color: #fff;
  background-color: #3c4cad;
  border-color: #3c4cad;
}

footer .column h4 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

footer .column > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column > a:hover {
  color: #3c4cad;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

@media (width < 1000px) {
  .about {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width < 700px) {
  .nav-links {
    display: none;
  }
  header .content {
    grid-template-columns: repeat(1, 1fr);
  }
  header .image {
    grid-area: 1/1/2/2;
  }
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    grid-template-columns: 1fr 200px;
  }
}
